{
  "extends": "eslint:recommended",
  "env": {
    "es6": true,
    "node": true
  },
  "ecmaFeatures": {
    "modules": true,
    "blockBindings": true,
    "templateStrings": true,
    "destructuring": true,
    "classes": true,
  }
}
